@charset "ISO-8859-1";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#2F363F;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.5px;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 40px;
	}
	.act{
		padding-bottom: 100px;
	}
}

.intro{
	background: #EAF0F1;
}
h1{
	color: #317e2e;
	font-weight: bold;
	transition: 0.5s;
	text-align: center;
}
h3{
	color:#2F363F;
}

.im{
	width: 180px;
	height: 180px;
}
.action{
	text-align: center;
	text-decoration: underline;
	font-family: 'Roboto Slab', serif;
}

.main{
    display: flex;
}
.menu1 {
    flex: 8%;
    text-align: right;
    /* border: 2px solid #4caf50; */
 }
.menu2{
	flex: 10%;
	 text-align: left;
   /*margin-left: 50px;
   /* border: 2px solid #4caf50; */
}
.btn {
	 /* display: inline-block; */
	background-color: rgb(230, 230, 230);
	border: 2px solid rgb(220, 220, 220);
	border-radius: 20px;
	margin: 15px;
	padding: 12px 28px;
	font-size: 16px;
	transition-duration: 0.5s;
	cursor: pointer;
	/* text-align: center; */
	/* text-decoration: none; */
}
.btn:hover {
	background-color: #4cd367; /* 4caf50 */
	border: 2px solid white;
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	/* color: black; */
}

footer{
	color:#586776;
	background-color:#CCCCCC;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}