<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ATM_using_Fingerprint</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Finger</display-name>
    <servlet-name>Login_Finger</servlet-name>
    <servlet-class>com.atm.Login_Finger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Finger</servlet-name>
    <url-pattern>/Login_Finger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.atm.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>com.atm.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu_Balance</display-name>
    <servlet-name>Menu_Balance</servlet-name>
    <servlet-class>com.atm.Menu_Balance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu_Balance</servlet-name>
    <url-pattern>/Menu_Balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.atm.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu_Deposit</display-name>
    <servlet-name>Menu_Deposit</servlet-name>
    <servlet-class>com.atm.Menu_Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu_Deposit</servlet-name>
    <url-pattern>/Menu_Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Balance</display-name>
    <servlet-name>Balance</servlet-name>
    <servlet-class>com.atm.Balance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Balance</servlet-name>
    <url-pattern>/Balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu_Withdraw</display-name>
    <servlet-name>Menu_Withdraw</servlet-name>
    <servlet-class>com.atm.Menu_Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu_Withdraw</servlet-name>
    <url-pattern>/Menu_Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.atm.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu_Mini_Statement</display-name>
    <servlet-name>Menu_Mini_Statement</servlet-name>
    <servlet-class>com.atm.Menu_Mini_Statement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu_Mini_Statement</servlet-name>
    <url-pattern>/Menu_Mini_Statement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_PIN</display-name>
    <servlet-name>Login_PIN</servlet-name>
    <servlet-class>com.atm.Login_PIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_PIN</servlet-name>
    <url-pattern>/Login_PIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu_Transfer</display-name>
    <servlet-name>Menu_Transfer</servlet-name>
    <servlet-class>com.atm.Menu_Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu_Transfer</servlet-name>
    <url-pattern>/Menu_Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.atm.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
</web-app>